.macbook-air {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-air .overlap-wrapper {
  background-image: url(../../../static/img/macbook-air-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 832px;
  overflow: hidden;
  width: 1254px;
}

.macbook-air .overlap {
  height: 767px;
  left: 13px;
  position: relative;
  top: 14px;
  width: 1304px;
}

.macbook-air .learn-more-button {
  all: unset;
  box-sizing: border-box;
  height: 53px;
  left: 970px;
  position: absolute;
  top: 500px;
  transition: all 0.2s ease;
  width: 334px;
}

.macbook-air .overlap-group {
  height: 53px;
  position: relative;
  width: 332px;
}

.macbook-air .rectangle {
  background-color: #b25b17;
  border-radius: 10px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 221px;
}

.macbook-air .text-wrapper {
  color: #ffffff;
  font-family: "Angkor", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 300px;
}

.macbook-air .merch-shop-button {
  height: 53px;
  left: 698px;
  position: absolute;
  top: 500px;
  transition: all 0.2s ease;
  width: 334px;
}

.macbook-air .matches-button {
  height: 53px;
  left: 451px;
  opacity: 0;
  position: absolute;
  top: 500px;
  transition: all 0.2s ease;
  width: 308px;
}

.macbook-air .div {
  height: 53px;
  position: relative;
  width: 306px;
}

.macbook-air .rectangle-2 {
  background-color: #b25b17;
  border-radius: 10px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 194px;
}

.macbook-air .text-wrapper-2 {
  color: #ffffff;
  font-family: "Angkor", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 264px;
}

.macbook-air .timeline {
  height: 767px;
  left: 0;
  position: absolute;
  top: 0;
  width: 479px;
}

.macbook-air .overlap-2 {
  height: 707px;
  left: 78px;
  position: absolute;
  top: 63px;
  width: 67px;
}

.macbook-air .line {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 65px;
  width: 51px;
}

.macbook-air .img {
  height: 16px;
  left: 12px;
  position: absolute;
  top: 180px;
  width: 51px;
}

.macbook-air .line-2 {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 530px;
  width: 51px;
}

.macbook-air .line-3 {
  height: 707px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.macbook-air .text-wrapper-3 {
  color: #f79245;
  font-family: "Angkor", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 178px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 123px;
  width: 293px;
}

.macbook-air .text-wrapper-4 {
  color: #f79245;
  font-family: "Angkor", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 178px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 227px;
  width: 293px;
}

.macbook-air .text-wrapper-5 {
  color: #f79245;
  font-family: "Angkor", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 178px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 577px;
  width: 293px;
}

.macbook-air .text-wrapper-6 {
  color: #ffbe8d;
  font-family: "Arizonia", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 312px;
}
